/* Message fade/slide animation */
.msg-fade-enter {
  opacity: 0;
  transform: translateY(20px);
}
.msg-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 250ms, transform 250ms;
}
.msg-fade-exit {
  opacity: 1;
}
.msg-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
} 